/* Bild maximal größe einstellen */
main img {height: 250px;
width: 400px;}

section {
    display: inline;
}

nav {
    font-size: 40px;
}
/* Bild und Text Platzierung */
/* Bild */
section:nth-of-type(1) div:nth-of-type(1) {
    float: left;
    margin-top: 6.5%;
}

section:nth-of-type(2) div:nth-of-type(1) {
    float: right;
    margin-right: 50px;
    margin-top: 6%;
}

section:nth-of-type(3) div:nth-of-type(1) {
    float: left;
    margin-top: 2%;
}

section:nth-of-type(4) div:nth-of-type(1){
    float: right;
    margin-right: 50px;
    margin-top: 7.5%;
}

section:nth-of-type(5) div:nth-of-type(1) {
    float: left;
    margin-top: 11.5%;
}

section:nth-of-type(6) div:nth-of-type(1) {
    float: right;
    margin-right: 50px;
    margin-top: 4.5%;
}
/* Text */
section:nth-of-type(2) div:nth-of-type(2) {
    text-align: right;
}

section:nth-of-type(4) div:nth-of-type(2) {
    text-align: right;
}

section:nth-of-type(6) div:nth-of-type(2) {
    text-align: right;
}
/* Bild und Text Platzierung Ende */
